body {
	background-color: #1f2937;
	font-family: 'Roboto', sans-serif;
	margin: 0px 0px;
	display: flex;
	flex-direction: column;
}

button {
	border: 0;
	background: none;
	box-shadow: none;
	border-radius: 6px;
}

.header {
	padding: 0 500px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 5px solid white;
	min-width: 1000px;
}

.headerLeft {
	margin-left: 16px;
	color: #f0faf8;
	font-size: 24px;
}

.headerRight {
	margin-right: 16px;
	color: #e5e7eb;
	font-size: 18px;
}

.header ul {
	display: flex;
	gap: 16px;
	list-style-type: none;
}

.content1 {
	display: flex;
	justify-content: space-between;
	margin: 100px 0;
	border: 5px solid white;
	gap: 24px;
	padding: 0 500px;
	min-width: 1050px;
}

.content1box1 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	width: 500px;
	gap: 6px;
}

.content1title {
	font-size: 48px;
	font-weight: bolder;
	color: #f9faf8;
}

.content1second {
	font-size: 18px;
	color: #e5e7eb;
}

.content1box2 {
	display: flex;
	width: 500px;
	justify-content: center;
	align-items: center;
}

.signUp {
	background-color: #3882f6;
	padding: 4px 30px;
	color: #e5e7eb;
	font-weight: bold;
}

.gradient1 {
	height: 100;
	width: 800;
	padding: 16px;
}

.content2 {
	display: flex;
	min-width: 1000px;
	justify-content: space-around;
	flex-direction: column;
	background-color: white;
	border: 5px solid red;
	padding: 0 500px;
	gap: 40px;
	font-size: 42px;
	font-weight: bold;
}

.content2box1 {
	display: inherit;
	justify-content: center;
	
}

.images {
	display: flex;
	justify-content: center;
	gap: 50px;
}

.box {
	display: inherit;
	flex-direction: column;
}

.content2 .box {
	height: 150px;
	width: 150px;
	border: 5px solid #3882f6;
	border-radius: 20px;
}

.box img {
	height: inherit;
	width: inherit;
	border-radius: 10px;
}

.box div {
	display: inherit;
	font-size: 16px;
	text-align: center;
}

/* 
.content3 {
	border: 5px solid white;
}

.content4 {
	border: 5px solid white;
}

.footer {
	border: 5px solid white;
} */
